streamlit>=1.37.0

langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-groq>=0.2.0

chromadb
sentence-transformers
huggingface-hub
transformers
torch
pypdf
python-dotenv
tiktoken